/**app.wxss**/

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0;
  box-sizing: border-box;
}

.searchForm{
  margin: 32px 16px;
  display: flex;
}

.searchFormInputs{
  margin-right: 16px;
}

.searchFormInput{
  min-width: 200px;
}

.searchFormBtn{
  margin-left: 16px;
}
.master .el-table{
  margin: 0px 16px;
}