.table{
     margin:16px;
}
.table table{
    border-left:1px solid #e4e4e4;
    border-top:1px solid #e4e4e4;
    width: 100%;
}
.table td,.table th{
    border-right:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    text-align: center;
    padding:8px;
}
.table tr:nth-child(odd) {
    background: #FAFAFA;
}
.table tr:hover{
    opacity: 0.8;
}
.listSearchForms{
    padding:16px;
    border-bottom:1px solid #e4e4e4;
}
.listSearchForm{
    float: left;
    width: 180px;
    margin-right: 8px;
    margin: 16px 16px;
    display: block;
}
.listSearchFormtitle{
    font-size: 18px;
    line-height: 32px;
}
.listSearchForm .button{
    padding-top: 8px;
    float: left;
}
.listSearchFormButtons{
    float: right;
    margin-top: 16px;
}
.listSearchFormButtons .button{
	float: left;
}
.pagination{
    text-align: right;
    height: 40px;
    line-height: 40px;
}
.paginationStatistics{
    float: left;
}
.paginationStatistics label{
    color: #409eff;
    margin:0px 4px;
}
.paginationStatistics select{
    border-color:#e4e4e4;
}
.titleTip{
    font-size: 12px;
    background: #e8e8e8;
    border-radius: 18px;
    padding: 2px 5px;
    margin-left: 8px;
    color: #a6a6a6;
}